.navbg {
    background-color: aliceblue;
}
.hero {
    background-color: aliceblue;
}
.gambar1 {
    height: 400px;
}
.why-icons {
    height: 80px;
    width: 80px;
}
.bg-section {
    background-color: #331171;
}
.btn-clr {
    background-color: #5CB85F
    ;
}